* {
	padding: 0;
	margin: 0;
	color: #666;
	font: 400 14px/22px Arial, "Microsoft YaHei";
	/*-webkit-text-size-adjust: 100%;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*去除ios点击的时候带背景高亮*/
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}
em {
	font-style: normal;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	word-wrap: break-word;
}

html,body {
	height: 100%;
	padding: 0;
	position: relative;
	background: #fff;
	overflow: hidden;
    -webkit-text-size-adjust:none;
}
body {
  -webkit-overflow-scrolling: touch;
  max-width: 768px;
  margin: 0 auto;
}
.fleft {
	float: left;
}

.fright {
	float: right;
}

.cboth {
	clear: both;
}
.displayNone{
	display: none;
}
a,
li {
	list-style: none;
	text-decoration: none;
}
/*星钻充值*/
.goback{
	position: absolute;
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	background: url(../img/gobanck.png) center left no-repeat;
	background-size: 30%;
	left: 2%;
	outline: none;
}
.blingRechargeable-header{
	padding: 2%;
	text-align: center;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    border-bottom: 1px solid #CCCCCC;
}
.presentBling{
	padding: 0.13rem 0;
	text-align: center;
}
.presentBling p{
	line-height: 0.6rem;
}
.presentBling p:nth-of-type(1){
	font-size: 0.3rem;
	color: #333;
}
.presentBling p:nth-of-type(2){
	font-size: 0.36rem;
	color: #f90;
}
.blingRechargeable-box .rechargeAmount_list ul{
	display:-webkit-box;
    display:box;
    -webkit-box-pack:center;
    box-pack:center;
}
.blingRechargeable-box .rechargeAmount_list ul li{
	width:30%;
    border:1px solid lightblue;
    background:#fff;
    margin: 2% 2% 2% 0;
    text-align: center;
    border: 1px solid #f90;
	padding: 0.1rem 0;
}

.blingRechargeable-box .rechargeAmount_list ul li:last-child{
    margin-right: 0;
}
.blingRechargeable-box .rechargeAmount_list ul li>p{
	line-height: 0.5rem;
}
.blingRechargeable-box .rechargeAmount_list ul li>p:nth-of-type(1){
	color: #f90;
	font-size: 0.24rem;
}
.blingRechargeable-box .rechargeAmount_list ul li>p:nth-of-type(2){
	color: #999;
	font-size: 0.22rem;
}
.blingRechargeable-box .rechargeAmount_list ul li.active{
	color: #fff;
	background: #f90;
}
.blingRechargeable-box .rechargeAmount_list ul li.active p{
	color: #fff;
}
.blingRechargeable-box .rechargeAmount_list ul li.active p.input_rechargeAmount input[type=number]{
	border: none;
}

/*支付方式*/
.blingRechargeable-box ul.modeOfpayment li{
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 1px solid #D4D4D4;
	position: relative;
}
.blingRechargeable-box ul.modeOfpayment li p{
	line-height: 0.8rem;
	display: inline-block;
	color: #333;
	font-size: 0.25rem;
}
.blingRechargeable-box ul li .input_rechargeAmount input{
	-webkit-appearance: none;
	width: 70%;
	margin: 0 auto;
	outline: none;
	border: 1px solid #f90;
}

/*付款方式*/
.blingRechargeable-box ul.modeOfpayment li i,
.blingRechargeable-box ul.modeOfpayment li span{
	width: 0.8rem;
	display: inline-block;
	height: 0.6rem;
	line-height: 0.8rem;
	font-size: 0.24rem;
	color: #333;
	text-align: left;
}
.blingRechargeable-box ul.modeOfpayment li span{
	width: auto;
}
.blingRechargeable-box ul.modeOfpayment li i:nth-of-type(2){
	width: auto;
}
.blingRechargeable-box ul.modeOfpayment li i img{
	margin: 0 auto;
	display: inline-block;
}
/*.blingRechargeable-box ul.modeOfpayment li i:first-child{
	width: 0.37rem;
	height: 0.37rem;
	margin-right: 0.2rem;
}*/
.blingRechargeable-box ul.modeOfpayment li:nth-of-type(1) i:first-child img{
	width: 0.43rem;
	height: 0.37rem;
}
.blingRechargeable-box ul.modeOfpayment li i:first-child img{
	width: 0.37rem;
	height: 0.37rem;
}

.blingRechargeable-box ul.modeOfpayment li label.select_payment_method{
	position: absolute;
	width: 96%;
	height: 100%;
	padding: 0 2%;
	top: 0;
	left: 0;
}

.blingRechargeable-box ul.modeOfpayment li label.select_payment_method input[name=paymode]{
	-webkit-appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	width: 0.2rem;
	height: 0.2rem;
	line-height: 0.8rem;
	background: url(../img/ellipse@2x.png) center no-repeat;
	background-size: 100%;
	outline: none;
}
.blingRechargeable-box ul.modeOfpayment li label.select_payment_method input[name=paymode]:checked{
	background: url(../img/ellipse_@2x.png) center no-repeat;
	background-size: 100%;
	outline: none;
}
/*付款方式--////*/


.blingRechargeable-box>.payment_btn {
    color: #fff;
    background: #f90;
    box-shadow: none;
    display: block;
    border: none;
    width: 80%;
    outline: none;
    height: 0.55rem;
    line-height: 0.55rem;
    text-align: center;
    border-radius: 0.5rem;
    text-shadow: none;
    margin: 0.25rem auto;
    font-size: 0.35rem;
    box-shadow: 0 0.03rem 0.05rem rgba(0,0,0,0.2);
}

/*星钻充值---///*/



