* {
	padding: 0;
	margin: 0;
	color: #666;
	font: 400 14px/22px Arial, "Microsoft YaHei";
	/*-webkit-text-size-adjust: 100%;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*去除ios点击的时候带背景高亮*/
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}
em {
	font-style: normal;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	word-wrap: break-word;
}

html,body {
	height: 100%;
	padding: 0;
	position: relative;
	background: #fff;
	overflow: hidden;
    -webkit-text-size-adjust:none;
}
body {
  -webkit-overflow-scrolling: touch;
  background: #F5F5F5;
  max-width: 768px;
  margin: 0 auto;
}
.fleft {
	float: left;
}

.fright {
	float: right;
}

.cboth {
	clear: both;
}
.displayNone{
	display: none;
}
a,
li {
	list-style: none;
	text-decoration: none;
}
.orderBig-Box{
	height: calc(100% - 0.6rem);
}
section.gift-order{
	height: calc(100% - 0.6rem);
}


/*订单*/
.goback{
	position: absolute;
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	background: url(../img/gobanck.png) center left no-repeat;
	background-size: 30%;
	left: 2%;
	outline: none;
}
.order-header{
	text-align: center;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
	width: 96%;
	text-align: center;
	padding: 0.1rem 2%;
	position: relative;
	background: #fff;
	z-index: 500;
	top: 0;
	/*box-sizing: border-box;*/
	border-bottom: 1px solid #ccc;
}
.otherOrder{
	position: absolute;
	height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.26rem;
    right: 2%;
	display: inline-block;
}
.otherOrder select{
	border: none;
	outline: none;
	width: 1.4rem;
	font-size: 0.22rem;
}
.otherOrder select option{
	border: none;
	outline: none;
}
.selectTime{
	height: 0.5rem;
	width: 96%;
	padding: 0.1rem;
	background: #FFF;
	margin: 0.2rem auto;
}
.selectTime span{
	display: inline-block;
	line-height: 0.6rem;
	margin-right: 0.1rem;
	font-size: 0.25rem;
}
.selectTime span select {
	display: inline-block;
	width: 2rem;
	height: 0.4rem;
	font-size: 0.22rem;
}
.giftOrder-List{
	height: calc(100% - 0.6rem);
	overflow-y: auto;
}
.giftOrder-List ul li{
	padding: 2%;
	overflow: hidden;
	background: #fff;
	margin: 0.1rem auto;
}
.giftOrder-List_img{
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.15rem;
}
.giftOrder-List_img img{
	width: 100%;
	height: 100%;
}
.giftOrder-List_User p{
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.25rem;
	max-width: 2rem;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.giftOrder-List_Msg p span{
	font-size: 0.25rem;
	height: 0.6rem;
	line-height: 0.6rem;
}
.giftOrder-List_Msg p{
	width: 2.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.22rem;
	color: #ABABAC;
}
.giftOrder-List_Msg p:nth-of-type(1) span{
	color: #f90;
}



/*门票订单*/

.ticket-order{
	height: 100%;
	display: none;
}
.selectTimeAndstate{
	padding: 2%;
	background: #fff;
	overflow: hidden;
	margin: 0.2rem auto;
}
.selectTimeAndstate>div{
	width: 50%;
	text-align: center;
}
.selectTimeAndstate>div p{
	font-size: 0.25rem;
	margin: 0.05rem auto;
}
.selectTimeAndstate>div p select{
	width: 80%;
	height: 0.4rem;
}
.ticketOrder-List{
	height: calc(100% - 1.6rem);
	overflow-y: auto;
}
.ticketOrder-List ul li{
	padding: 2%;
	overflow: hidden;
	background: #fff;
	margin: 0.1rem auto;
}
.ticketOrder-List_name{
	height: 0.5rem;
	line-height: 0.5rem;
	padding:0.1rem 0;
	
}
.ticketOrder-List_name span:nth-of-type(1){
	max-width: 5rem;
	display: inline-block;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.ticketOrder-List_name span{
	font-size: 0.26rem;
}
.ticketOrder-List_Img{
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.25rem;
}
.ticketOrder-List img{
	width: 100%;
	height: 100%;
}
.ticketOrder-List_Msg p{
	font-size: 0.25rem;
	height: 0.4rem;
	line-height: 0.4rem;
}
.ticketOrder-List_Bling{
	width: 2rem;
	height: auto;
	overflow: hidden;
}
.ticketOrder-List_Bling span{
	font-size: 0.25rem;
	height: 0.4rem;
	color: #f90;
	line-height: 0.4rem;
}
.placeOrdertime{
	font-size: 0.25rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: left;
}
/*门票订单---///*/
/*订单--///*/