* {
	padding: 0;
	margin: 0;
	color: #666;
	font: 400 14px/22px Arial, "Microsoft YaHei";
	/*-webkit-text-size-adjust: 100%;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*去除ios点击的时候带背景高亮*/
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}
em {
	font-style: normal;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	word-wrap: break-word;
}

html,body {
	height: 100%;
	padding: 0;
	background: #fff ;
	overflow: hidden;
    -webkit-text-size-adjust:none;
    transition: top 0.1s;
}
body {
  -webkit-overflow-scrolling: touch;
}
.fleft {
	float: left;
}

.fright {
	float: right;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.displayNone{
	display: none;
}
a,
li {
	list-style: none;
	text-decoration: none;
}
/*视频*/
section.video-box{
	max-width: 768px;
	height:3.6rem;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}
.video-js .vjs-tech{object-position: center center;}
.videoDiv{
	width: 100%;
	height: 100%;
}
video{
	display:block;
    vertical-align: baseline;
    object-fit: contain;
    background-size:cover;
    box-sizing:border-box;
}
/*视频///*/

/*其它*/
.otherAll{
	max-width: 768px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
}

.tab-ulBox{
	max-width: 768px;
	height: 60px;
	position: relative;
	margin: 0 auto;
	border-bottom: 1px solid #e4e4e4;
}
.companyInforBox{
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 23px;
	background-color: #292724;
}
.companyInfor{
	height: 100%;
	line-height: 23px;
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 0.2rem;
}
.wacthNumber{
	width: auto;
	height: 23px;
	line-height: 23px;
	text-align: left;
	position: absolute;
	right: 2%;
	top: 0;
	color: #e9e5e5;
}
.wacthNumber span{
	display: inline-block;
	line-height: 24px;
	color: #e9e5e5;
	font-size: 0.2rem;
	vertical-align: middle;
}
.wacthNumber span:nth-of-type(1){
	display: inline-block;
	width: 0.5rem;
	height: 23px;
	margin-right: 0.1rem;
	background: url(../img/looked.png) center no-repeat;
	background-size: 80%;
}
.wacthNumber span:nth-of-type(1) img{
	width: 70%;
	vertical-align: middle;
}
.companyLogo{
	background: honeydew;
	position: absolute;
	bottom: 0;
	left: 0;
}
.companyLogo img{
	max-width: 60px;
	max-height:60px;
	display: block;
	margin: 0 auto;
}
div.tab-ul {
	display: block;
	width: 62%;
	height: 37px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 13%;
}
div.tab-ul li {
	height: 36px;
	line-height: 36px;
	width: 25%;
	color: #666;
	float: left;
	text-align: center;
	font-size: 0.24rem;
	border-bottom: 1px solid #FFF;
}

div.tab-ul li.active {
	color: #446ba6;
	border-bottom: 1px solid #446ba6;
}
.swiper-pagination-big{
	width: 100%;
	height: 100%;
}
.swiper-pagination-big>span.swiper-pagination-bullet{
	width: 25%;
	height: 36px;
	color: #666;
	line-height: 36px;
	background: transparent;
	border-bottom: 1px solid #FFF;
	border-radius: 0;
	font-size: 0.24rem;
}
.swiper-pagination-big span.swiper-pagination-bullet-active{
	color: #446ba6;
	border-bottom: 1px solid #446ba6;
}
.friendshipLink{
	width: 10%;
	height: 37px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/friendshipLink.png) center no-repeat;
	background-size: 12%;
}
section.bigBox {
	max-width: 768px;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
	position: relative;
}
section.bigBox>div.chat-box{
	overflow: hidden;
} 
section.bigBox .chat-list{
	overflow: auto;
}
/***********************************聊天盒子***************************************/
/*消息列表*/
.chat-box {
	height: 100%;
	/*bottom: 0.75rem;*/
}
ul.chat-list-ul {
	padding: 2% 4% 2% 4%;
	padding-bottom: 0.75rem;
}

.chat-box ul.chat-list-ul li {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0.23rem auto;
	overflow: hidden;
}

/*其他游客消息*/
.other_wordsHeader{
	height: 0.8rem;
	width: 0.8rem;
	line-height: 0.8rem;
	margin-right: 0.18rem;
	display: inline-block;
	overflow: hidden;
}
.chat-box ul.chat-list-ul li .other_wordsHeader img.header-img{
	width: 100%;
}


.chat-box ul.chat-list-ul li .words_box{
	height: auto;
	overflow: hidden;
	background-color: #f5f8fb;
	width: auto;
	max-width: 65%;
	padding: 2%;
	border-radius: 5px;
}
.chat-box ul.chat-list-ul li .words_box p{
	width: auto;
	overflow: hidden;
	/*word-break: keep-all;
    white-space: nowrap;*/
}
.chat-box ul.chat-list-ul li .words_box p:nth-of-type(1) span{
	display: inline-block;
	width: auto;
}
.chat-box ul.chat-list-ul li .words_box p:nth-of-type(1) span.wordsUser_name{
	color: #f90;
	font-size: 0.23rem;
	/*width: 1.8rem;*/
	width: 40%;
	overflow: hidden;
	text-overflow:ellipsis;     
	word-break:keep-all;
	white-space:nowrap;
}
.chat-box ul.chat-list-ul li .words_box p:nth-of-type(1) span.words_time{
	color: gray;
	font-size: 0.18rem;
	width: 60%;
	text-align: right;
	text-overflow:ellipsis;     
	word-break:keep-all;
	white-space:nowrap;
}
.chat-box ul.chat-list-ul li .words_box p.words_infor{
	color: #666;
	font-size: 0.20rem;
	padding-top: 0.08rem;
	line-height: 0.3rem;
}

/*其他游客消息---////*/

/*我发送的消息*/
.chat-list-ul .my_words .my_words-box{
	width: auto;
	height: auto;
	overflow: hidden;
}
.chat-list-ul .my_words .my_words-box .my_words-cont{
	max-width: 65%;
	min-width: 2.5rem;
	height: auto;
	border-radius: 5px;
	padding: 0.1rem;
	background-color: #00d3ff;
}
.chat-list-ul .my_words .my_words-box div.my_words-cont p:nth-of-type(1){
	color: #fff;
	font-size: 0.20rem;
}
.chat-list-ul .my_words .my_words-box div.my_words-cont p:nth-of-type(2){
	color: #676363;
	padding-top: 0.08rem;
	font-size: 0.20rem;
	line-height: 0.3rem;
	word-wrap: break-word;
    word-break: break-all;
}
.chat-list-ul .my_words .my_words-box div.my_words-header{
	border-radius: 100%;
	height: 0.8rem;
	width: 0.8rem;
	line-height: 0.8rem;
	overflow: hidden;
	margin-right: 0.18rem;
}	
.chat-list-ul .my_words .my_words-box div.my_words-header img{
	border-radius: 100%;
	/*height: 100%;*/
	width: 100%;
}	
/*我发送的消息--///*/
/*消息列表--////*/

/*游客送礼*/
.visitor_send_gift{
	/*background: red;*/
	padding: 0.12rem 0;
}
.visitor_send_gift_box{
	width: 3.2rem;
	height: 0.45rem;
	margin: 0.2rem auto;
	/*margin-left: 0.6rem;*/
	border-radius: 0.65rem;
	background-color: #feb370;
	padding: 0.05rem;
	position: relative;
	
}
.visitor_send_gift_box>img{
	width: 0.45rem;
	height: 0.45rem;
	border-radius: 100%;
}
.visitor_send_gift_box span{
	height: 0.45rem;
	line-height: 0.5rem;
	font-size: 0.18rem;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.visitor_send_gift_box span i{
	list-style: none;
	height: 0.45rem;
	line-height: 0.5rem;
	font-size: 0.18rem;
	max-width: 1.4rem;
	padding: 0;
	margin: 0;
	color: #FFF;
	display: inline-block;
	text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.visitor_send_gift_box span i:nth-of-type(1){
	text-indent: 0.05rem;
}

.visitor_send_gift_box .visitor_send_gift_box-numAndimg{
	position: absolute;
	height: 0.6rem;
	right: -1.4rem;
	width: 1.4rem;
}
.visitor_send_gift_box span.visitor_send_gift_box-giftnum{
	display: block;
	text-indent: 0.05rem;
	font-family:"arial black";
	font-style: oblique;
	color: #fff;
	width: 0.8rem;
	font-size: 0.25rem;
	position: absolute;
	top: -0.45rem;
	right: 1.5rem;
	text-shadow: 0px 0px 1px #e24d3f,0px 0px 2px #e24d3f,0px 0px 3px #e24d3f,0px 0px 4px #e24d3f,0px 0px 4px #e24d3f;
}
.visitor_send_gift_box .visitor_send_gift_box-giftImg{
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	margin: 0 ;
	padding: 0 ;
	margin-top: -0.05rem;
}
.visitor_send_gift_box .visitor_send_gift_box-giftImg>img{
	margin:  0 auto;
	width: 0.55rem;
}
/*游客送礼--//*/

/*游客进入*/
.visitor_enter_box{
	width: 3.2rem;
	height: 0.45rem;
	margin: 0 auto;
	border-radius: 0.65rem;
	background-color: #f5f8fb;
	padding: 0.05rem;
	overflow: hidden;
}
.visitor_enter_box img{
	width: 0.45rem;
	height: 0.45rem;
	border-radius: 100%;
}
.visitor_enter_box span{
	height: 0.45rem;
	line-height: 0.5rem;
	font-size: 0.18rem;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.visitor_enter_box span i{
	list-style: none;
	height: 0.45rem;
	line-height: 0.5rem;
	font-size: 0.18rem;
	max-width: 1.4rem;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.visitor_enter_box span i:nth-of-type(1){
	text-indent: 0.05rem;
}
/*游客进入---///*/

/*发红包*/
.visitor_sendRedpacket_box{
	width: 3.5rem;
	height: 1rem;
	margin: 0 auto;
	border-radius: 0.15rem;
	background-color: rgba(243, 85, 70, 0.93);
	padding: 0.05rem;
	overflow: hidden;
	position: relative;
}

.visitor_sendRedpacket_box>img.visitor_sendRedpacket-userHeader{
	width: 0.6rem;
	height: 0.6rem;
	margin-top: 0.2rem;
	margin-right: 0.1rem;
	display: block;
	border-radius: 100%;
}
.visitor_sendRedpacket_box>span{
	width: 2.7rem;
	height: 0.8rem;
	margin-top: 0.1rem;
	display: block;
}
.visitor_sendRedpacket_box>span>p{
	margin: 0;
	padding: 0;
	line-height: 0.3rem;
	font-size: 0.20rem;
	max-width: 2.6;
	word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.visitor_sendRedpacket_box>span>p:nth-of-type(1){
	color: #a7191f;
	font-size: 0.20rem;
}
.visitor_sendRedpacket_box>span>p:nth-of-type(2){
	color: #c72d2d;
	font-size: 0.16rem;
}
.visitor_sendRedpacket_box>span>p:nth-of-type(3){
	color: #a7191f;
	font-size: 0.22rem;
}
.visitor_sendRedpacket .visitor_sendRedpacket_box>i{
	position: absolute;
	width: 0.25rem;
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
	right: 0.1rem;
	top: 0.45rem;
	border-radius: 100%;
	color: #a7191f;
	border: 1px solid #a7191f;
	background-size: 50%;
}
/*发红包----///*/

/*打赏红包*/
.visitor_reward_box{
	width: 3.5rem;
	height: 1rem;
	margin: 0 auto;
	border-radius: 0.15rem;
	background-color: #f5f8fb;
	padding: 0.05rem;
	overflow: hidden;
	position: relative;
}

.visitor_reward_box>img.visitor_reward-userHeader{
	width: 0.6rem;
	height: 0.6rem;
	margin-top: 0.2rem;
	margin-right: 0.1rem;
	display: block;
	border-radius: 100%;
}
.visitor_reward_box>span{
	width: 2.7rem;
	height: 0.8rem;
	margin-top: 0.1rem;
	display: block;
}
.visitor_reward_box>span>p{
	margin: 0;
	padding: 0;
	line-height: 0.3rem;
	font-size: 0.20rem;
	max-width: 2.6;
	word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.visitor_reward_box>span>p:nth-of-type(1){
	color: gray;
	font-size: 0.20rem;
}
.visitor_reward_box>span>p:nth-of-type(2){
	color: #f90;
	font-size: 0.22rem;
}
.visitor_reward_box>span>p:nth-of-type(3){
	color: gray;
	font-size: 0.16rem;
}
.visitor_reward .visitor_reward_box>i{
	position: absolute;
	width: 0.25rem;
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
	right: 0.1rem;
	top: 0.45rem;
	border-radius: 100%;
	color: #ababac;
	border: 1px solid #ababac;
	background-size: 50%;
}
/*打赏红包---////*/

/*浮动功能*/

/*红包*/
.redpacket_box{
	width: 0.6rem;
	height: 1rem;
}
.now_redpacket{
	position: relative;
	top: 0;
	right: 0;
	width: 0.6rem;
	height: 0.8rem;
	background: #f15546;
	border-radius: 0.1rem;
	box-shadow:inset 0px -0.02rem 0.1rem 0.01rem rgba(255,255,255,0.3);
	font-size: 0.16rem;
	font-weight: 600;
	color: rgba(146, 56, 11, 0.45);
	text-align: center;
	line-height: 0.97rem;
}
.now_redpacket::before{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 0.6rem;
	height: 0.25rem;
	background: #f15546;
	border-radius: 0.1rem 0.1rem 0.17rem 0.17rem;
	box-shadow:0px 0.02rem 0px 0px rgba(0,0,0,0.2),inset 0px -0.02rem 0.1rem 0.01rem rgba(191, 176, 176, 0.3);
}
.now_redpacket::after{
	position: absolute;
	content: "";
	top: 0.1rem;
	right: 0.175rem;
	width: 0.21rem;
	height: 0.21rem;
	background: #feb250;
	border-radius: 100%;
	border: 0.02rem solid #fece7c;
	box-shadow:0px 0.008rem 0.02rem 0.01rem rgba(0,0,0,0.2);
}



@-moz-keyframes now_redpacket_action /* Firefox */
{
0% {
	color: rgba(146, 56, 11, 0.2);
	transform:rotate(0deg);
	}
10% {
	color: #ff8143;
	transform:rotate(6deg);
	}
20% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
30% {
	color: #ff8143;
	transform:rotate(6deg);
	}
40% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
50% {
	color: #ff8143;
	transform:rotate(6deg);
	}
60% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
70% {
	color: #ff8143;
	transform:rotate(6deg);
	}
80% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
90% {
	color: #ff8143;
	transform:rotate(6deg);
	}
100% {
	color: #ff8143;
	transform:rotate(0deg);
	}
}

@-webkit-keyframes now_redpacket_action /* Safari 和 Chrome */
{
0% {
	color: rgba(146, 56, 11, 0.2);
	transform:rotate(0deg);
	}
10% {
	color: #ff8143;
	transform:rotate(6deg);
	}
20% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
30% {
	color: #ff8143;
	transform:rotate(6deg);
	}
40% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
50% {
	color: #ff8143;
	transform:rotate(6deg);
	}
60% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
70% {
	color: #ff8143;
	transform:rotate(6deg);
	}
80% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
90% {
	color: #ff8143;
	transform:rotate(6deg);
	}
100% {
	color: #ff8143;
	transform:rotate(0deg);
	}
}

@-o-keyframes now_redpacket_action /* Opera */
{
0% {
	color: rgba(146, 56, 11, 0.2);
	transform:rotate(0deg);
	}
10% {
	color: #ff8143;
	transform:rotate(6deg);
	}
20% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
30% {
	color: #ff8143;
	transform:rotate(6deg);
	}
40% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
50% {
	color: #ff8143;
	transform:rotate(6deg);
	}
60% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
70% {
	color: #ff8143;
	transform:rotate(6deg);
	}
80% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
90% {
	color: #ff8143;
	transform:rotate(6deg);
	}
100% {
	color: #ff8143;
	transform:rotate(0deg);
	}
}
@keyframes now_redpacket_action
{
0% {
	color: rgba(146, 56, 11, 0.2);
	transform:rotate(0deg);
	}
10% {
	color: #ff8143;
	transform:rotate(6deg);
	}
20% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
30% {
	color: #ff8143;
	transform:rotate(6deg);
	}
40% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
50% {
	color: #ff8143;
	transform:rotate(6deg);
	}
60% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
70% {
	color: #ff8143;
	transform:rotate(6deg);
	}
80% {
	color: #ff8143;
	transform:rotate(-6deg);
	}
90% {
	color: #ff8143;
	transform:rotate(6deg);
	}
100% {
	color: #ff8143;
	transform:rotate(0deg);
	}
}
/*红包动画*/
.now_redpacket_action{
	animation: now_redpacket_action 2s;
	-webkit-animation:now_redpacket_action 2s;
	-moz-animation:now_redpacket_action 2s;
	-o-animation:now_redpacket_action 2s;
}
/*红包----///*/


.chat-box .fixed_fun{
	position: absolute;
	right: 0.25rem;
	top: 2%;
	width: 0.55rem;
	z-index: 9;
}
.chat-box .fixed_fun ul{
	width: 100%;
	height: 100%;
}
.chat-box .fixed_fun ul li{
	width: 100%;
	height: 0.55rem;
	/*background: gainsboro;*/
	margin-top: 0.1rem;
	border-radius: 100%;
	background-size: 85%;
}
.chat-box .fixed_fun ul li:nth-of-type(1){
	margin-bottom: 0.35rem;
	background: transparent;
}
.chat-box .fixed_fun ul li:nth-of-type(2){
	background: url(../img/personalCenter@2x.png) center no-repeat;
	background-size: 85%;
}
.chat-box .fixed_fun ul li:nth-of-type(3){
	background: url(../img/erweima.png) center no-repeat;
	background-size: 85%;
}
.chat-box .fixed_fun ul li:nth-of-type(4){
	background: url(../img/hongbao.png) center no-repeat;
	background-size: 85%;
}
.chat-box .fixed_fun ul li:nth-of-type(5){
	background: url(../img/shang.png) center no-repeat;
	background-size: 85%;
}
.chat-box .fixed_fun ul li:last-child{
	background: url(../img/fenxiang.png) center no-repeat;
	background-size: 85%;
}
/*浮动功能----/////*/




/*发送消息盒子*/

/*表情按钮*/
.chat_expression{
	width: 15%;
	height: 0.7rem;
	background: red;
	background: url(../img/chat_expression.png) center no-repeat;
	background-size: 40%;
}

.chat_input {
	width: 100%;
	max-width: 768px;
	height:auto;
	padding: 1% 0;
	border-top: 1px solid #E4E4E4;
	box-shadow: 0 -1px 50px gainsboro;
	background: #fff;
	position: fixed;
	bottom: 0;
	z-index: 16;
}
.chat-box_sendDiv {
	width: 65%;
	position: relative;
	height: 0.7rem;
	line-height: 0.7rem;
	border-radius: 0.05rem;
	border: 1px solid #E4E4E4;
	text-indent: 0.15rem;
}
/*.chat-box_sendDiv>input:nth-of-type(1) {
	width: 75%;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.25rem;
	display: inline-block;
	border: none;
	outline: none;
	text-indent: 0.1rem;
	-webkit-appearance:none;
	position: absolute;
	overflow-y: auto;
	word-wrap: break-word;
	word-break:break-all;
	left: 0;
}*/
.chat-box_sendDiv>input {
	width: 75%;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.25rem;
	display: inline-block;
	border: none;
	outline: none;
	text-indent: 0.1rem;
	-webkit-appearance:none;
	position: absolute;
	white-space: nowrap;
	overflow-y: auto;
	word-wrap: break-word;
	word-break:break-all;
	left: 0;
}

.chat-box_sendDiv>.chat-box_send-btn {
	width: 20%;
	display: block;
	position: absolute;
	background: none;
	border: none;
	height: 0.35rem;
	line-height: 0.35rem;
	color: #a29e9e;
	right: 0.12rem;
	top: 0.18rem;
	outline: none;
	text-indent: 0.1rem;
	border-left: 1px solid #a29e9e;
	font-size: 0.2rem;
	text-align: center;
}

/*礼物按钮*/
.chat-box_gif-btnBox{
	width: 19%;
	height: 100%;
	background: url(../img/giftx2.png) no-repeat center;
	background-size: 40%;
	margin: 0.1rem auto;
}
.chat-box_gif-btn {
	margin: 0 auto;
	line-height: 0.75rem;
	height:0.45rem;
	background: none;
	border: none;
	outline: none;
	
}


/***********************聊天盒子---///-********************************/
/*********************************************讲义盒子******************************/
.lecture-box{
	width: 100%;
	height: 100%;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}
.lecture-box h3{
	text-align: center;
	font-size: 0.32rem;
	display: block;
	margin:0.25rem auto 0.15rem auto;
	color: #666;
	font-weight: 500;
}
.notHaveppt{
	text-align: center;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}
.notHaveppt-img{
	width: 1rem;
	height: 1rem;
	margin: 1rem auto 0.2rem auto;
}
.notHaveppt-infor{
	color: #999999;
	font-size: 0.25rem;
	letter-spacing: 5px;
}

.swiper-container-ppt {
    width: 100%;
    margin: 0.2rem auto;
    overflow: visible;
}
.swiper-container-ppt .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-container-ppt .swiper-slide>img{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.swiper-container-ppt .swiper-pagination-fraction{
	bottom: 0;
	position: relative;
	z-index: 200;
}
.swiper-container-ppt .swiper-pagination-ppt  *{
	font-size: 0.22rem;
}
/**********************************讲义盒子--///**********************************************/

/**********************************贡献盒子--///**********************************************/
.contribution-box{
	/*overflow-y: hidden !important;*/
	height: 100%;
}
.contribution-box ul.seqencing-tab{
	width: 55%;
	height: 0.5rem;
	margin: 10px auto;
	border: 1px solid #446ba6;
	border-radius: 0.5rem;
	background: #fff;
}
.contribution-box ul.seqencing-tab li{
	float: left;
	height: 0.5rem;
	line-height: 0.5rem;
	width: 33.3333%;
	text-align: center;
	font-size: 0.22rem;
	color: #446ba6;
}
.contribution-box ul.seqencing-tab li:first-child{
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.contribution-box ul.seqencing-tab li:last-child{
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.contribution-box ul.seqencing-tab li.active{
	background: #446ba6;
	color: #fff;
}

/*送礼榜-列表*/
.seqencingBox>div{
	display: none;
	height: 4.5rem;
	overflow-y: auto;
}
.seqencingBox>div.visible {
	display: block ;
}
ul.seqencingBox-ul{
	/*padding-bottom:10%;*/
}
ul.seqencingBox-ul li{
	padding: 2% 2%;
	border-bottom: 1px solid #f3f3f3;
}
ul.seqencingBox-ul li>span{
	display: inline-block;
}
/*名次*/
 ul.seqencingBox-ul li>span.ranking{
	width: 0.8rem;
	height: 1rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.45rem;
}
/*金 银 铜 牌*/
ul.seqencingBox-ul li:nth-of-type(1)>span.ranking{
	background: url(../img/gold_medal.png) center no-repeat;
	background-size: 60%;
}
ul.seqencingBox-ul li:nth-of-type(2)>span.ranking{
	background: url(../img/silver_medal.png) center no-repeat;
	background-size: 60%;
}
ul.seqencingBox-ul li:nth-of-type(3)>span.ranking{
	background: url(../img/bronze_medal.png) center no-repeat;
	background-size: 60%;
}

/*头像*/
 ul.seqencingBox-ul li>span.seqencingHeader-img{
	width: 1rem;
	height: 0.9rem;
	border-radius: 100%;
	overflow: hidden;
}
 ul.seqencingBox-ul li>span.seqencingHeader-img img{
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 auto;
	display: block;
	border-radius: 100%;
}
/*用户信息*/
ul.seqencingBox-ul li>span.seqencingUser-infor{
	width:auto ;
	height: 0.8rem;
	padding:0 0.2rem ;
	overflow: hidden;
}
ul.seqencingBox-ul li>span.seqencingUser-infor>p:nth-of-type(1){
	overflow: hidden;
}
ul.seqencingBox-ul li>span.seqencingUser-infor>p span.seqencingUser-infor_userName{
	font-size: 0.25rem;
	padding-right: 0.08rem;
	height: 0.3rem;
	line-height: 0.3rem;
	display: inline-block;
	max-width: 1.7rem;
	text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
ul.seqencingBox-ul li>span.seqencingUser-infor>p span.seqencingUser-infor_userGrade{
	font-size: 0.20rem;
	width: 0.6rem;
	line-height: 0.3rem;
	text-align: center;
	margin-left: 0.02rem;
	border-radius: 0.08rem;
	display: inline-block;
	background-color: #3aeb64;
	color: #fff;
}
ul.seqencingBox-ul li>span.seqencingUser-infor>p:nth-of-type(2) span{
	font-size: 0.20rem;
	height: 0.3rem;
	line-height:0.58rem;
	display: inline-block;
}
ul.seqencingBox-ul li>span.seqencingUser-indexOrfollow{
	width: 1rem;
	height: 1.2rem;
	line-height: 1.2rem;
	color: #446ba6;
	text-align: right;
	font-size: 0.20rem;
	margin-right: 0.18rem;
	background: url(../img/follow.png) center right no-repeat;
	background-size: 30%;
}
ul.seqencingBox-ul li>span.seqencingUser-index{
	background: url(../img/righticon.png) center right no-repeat;
	background-size: 18%;
}
/*送礼榜-列表**//*************************/
ul.seqencingBox-ul li:nth-of-type(1) span.seqencingHeader-img,
ul.seqencingBox-ul li:nth-of-type(2) span.seqencingHeader-img,
ul.seqencingBox-ul li:nth-of-type(3) span.seqencingHeader-img{
	width: 1rem;
	height: 1rem;
}
ul.seqencingBox-ul li:nth-of-type(1) span.seqencingHeader-img img,
ul.seqencingBox-ul li:nth-of-type(2) span.seqencingHeader-img img,
ul.seqencingBox-ul li:nth-of-type(3) span.seqencingHeader-img img{
	width: 1rem;
	height: 1rem;
}
/**********************************贡献盒子--///**********************************************/

/*********************************************主播盒子******************************/
/*主播信息--*/
.anchor-box{
	background-color: #F5F5F5;
	height: 100% !important;
}
.anchor-box .anchor_infor{
	height: 0.4rem;
	padding: 4%;
	border-bottom: 1px solid #F3F3F3;
	background-color: #FFF;
}
.anchorRoomId{
	display: inline-block;
	line-height: 0.4rem;
	font-size: 0.26rem;
}
.anchor_infor span{
	display: inline-block;
	line-height: 0.4rem;
}
.focus_heartInfor{
	font-size: 0.2rem;
	margin-right: 0.2rem;
}
.focus_heart img{
	height: 0.4rem;
	width:0.46rem;
}
/*主播信息---////*/

/*商城*/
.anchor-box .supermarket-tit{
	height: auto;
	overflow: hidden;
	padding: 4%;
}
.anchor-box .supermarket-tit img{
	width: 0.3rem;
	height: 0.3rem;
}
.anchor-box .supermarket-tit h2{
	margin-left: 0.2rem;
	font-size: 0.32rem;
	line-height: 0.3rem;
	height: 0.35rem;
}
.supermarket-list{
	height: 100%;
	overflow: auto;
	margin: 0 auto;
	background: #fff;
}
.supermarket-list ul{
	overflow: auto;
	margin: 0 auto;
	padding-bottom: 6%;
}

.supermarket-list ul li{
	width: auto;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #F3F3F3;
	padding: 4%;
	background-color: #FFF;
}
.supermarket-list ul li .supermarketImg{
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
}
.supermarket-list ul li .supermarketImg img{
	width: 1.2rem;
	height: auto;
}
.supermarket-list .supermarket_list_center_infor{
	margin-left: 0.3rem;
	width: 2rem;
	height: 1.2rem;
}
.supermarket-list .supermarket_list_center_infor p:nth-of-type(1){
	color: #666;
	font-size: 0.25rem;
	line-height: 0.5rem;
}
.supermarket-list .supermarket_list_center_infor p:nth-of-type(2) span{
	color: #666;
	font-size: 0.20rem;
	line-height: 0.8rem;
}
.supermarket_list_center_infor p:nth-of-type(2) span.ticket_type{
	color: #6d93f5;
	display: inline-block;
	text-indent: 0.22rem;
	font-size: 0.20rem;
	
}
.supermarket-list ul li .detailAndbuy{
	width: 1.6rem;
	height: 1.2rem;
	overflow: hidden;
}
.supermarket-list ul li .detailAndbuy a{
	display: inline-block;
	margin-top: 0.42rem;
	font-size: 0.22rem;
	outline: none;
}
.supermarket-list ul li .detailAndbuy a:nth-of-type(1){
	color: #446ba6;
	width: 0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	display: inline-block;
	text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.supermarket-list ul li .detailAndbuy a:nth-of-type(2){
	background-color: #446ba6;
	color: #fff;
	width: 0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	border-radius: 0.2rem;
}
/*商城--////*/


/*星钻充值*/

.presentBling{
	padding: 0.13rem 0;
	text-align: center;
	/*background: red;*/
}
.presentBling p{
	line-height: 0.6rem;
}
.presentBling p:nth-of-type(1){
	font-size: 0.3rem;
	color: #333;
	/*height: .32rem;*/
}
.presentBling p:nth-of-type(2){
	font-size: 0.36rem;
	color: #446ba6;
	/*height: .4rem;*/
}
.blingRechargeable-box .rechargeAmount_list ul{
	display:-webkit-box;
    display:box;
    -webkit-box-pack:center;
    box-pack:center;
}
.blingRechargeable-box .rechargeAmount_list ul li{
	width:30%;
    border:1px solid lightblue;
    background:#fff;
    margin: 2% 2% 2% 0;
    text-align: center;
    border: 1px solid #446ba6;
	padding: 0.1rem 0;
}

.blingRechargeable-box .rechargeAmount_list ul li:last-child{
    margin-right: 0;
}
.blingRechargeable-box .rechargeAmount_list ul li>p{
	line-height: 0.5rem;
}
.blingRechargeable-box .rechargeAmount_list ul li>p:nth-of-type(1){
	color: #446ba6;
	font-size: 0.24rem;
}
.blingRechargeable-box .rechargeAmount_list ul li>p:nth-of-type(2){
	color: #999;
	font-size: 0.22rem;
}
.blingRechargeable-box .rechargeAmount_list ul li.active{
	color: #fff;
	background: #446ba6;
}
.blingRechargeable-box .rechargeAmount_list ul li.active p{
	color: #fff;
}
.blingRechargeable-box .rechargeAmount_list ul li.active p.input_rechargeAmount input[type=number]{
	border: none;
}

/*支付方式*/
.blingRechargeable-box ul.modeOfpayment li{
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 1px solid #D4D4D4;
	position: relative;
}
.blingRechargeable-box ul.modeOfpayment li p{
	line-height: 0.8rem;
	display: inline-block;
	color: #333;
	font-size: 0.25rem;
}
.blingRechargeable-box ul li .input_rechargeAmount input{
	-webkit-appearance: none;
	width: 70%;
	margin: 0 auto;
	outline: none;
	border: 1px solid #446ba6;
}

/*付款方式*/
.blingRechargeable-box ul.modeOfpayment li i,
.blingRechargeable-box ul.modeOfpayment li span{
	width: 0.8rem;
	display: inline-block;
	height: 0.6rem;
	line-height: 0.8rem;
	font-size: 0.24rem;
	color: #333;
	text-align: left;
}
.blingRechargeable-box ul.modeOfpayment li span{
	width: auto;
}
.blingRechargeable-box ul.modeOfpayment li i:nth-of-type(2){
	width: auto;
}
.blingRechargeable-box ul.modeOfpayment li i img{
	margin: 0 auto;
	display: inline-block;
}
.blingRechargeable-box ul.modeOfpayment li:nth-of-type(1) i:first-child img{
	width: 0.43rem;
	height: 0.37rem;
}
.blingRechargeable-box ul.modeOfpayment li i:first-child img{
	width: 0.37rem;
	height: 0.37rem;
}

.blingRechargeable-box ul.modeOfpayment li label.select_payment_method{
	position: absolute;
	width: 96%;
	height: 100%;
	padding: 0 2%;
	top: 0;
	left: 0;
}

.blingRechargeable-box ul.modeOfpayment li label.select_payment_method input[name=paymode]{
	-webkit-appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	width: 0.2rem;
	height: 0.2rem;
	line-height: 0.8rem;
	background: url(../img/ellipse@2x.png) center no-repeat;
	background-size: 100%;
	outline: none;
}
.blingRechargeable-box ul.modeOfpayment li label.select_payment_method input[name=paymode]:checked{
	background: url(../img/ellipse_@2x.png) center no-repeat;
	background-size: 100%;
	outline: none;
}
/*付款方式--////*/


.blingRechargeable-box>.payment_btn {
    color: #fff;
    background: #446ba6;
    box-shadow: none;
    display: block;
    border: none;
    width: 80%;
    outline: none;
    height: 0.55rem;
    line-height: 0.55rem;
    text-align: center;
    border-radius: 0.5rem;
    text-shadow: none;
    margin: 0.25rem auto;
    font-size: 0.35rem;
    box-shadow: 0 0.03rem 0.05rem rgba(0,0,0,0.2);
}

/*星钻充值---///*/

/*商城订单详情      orderDetail.html*/
.orderDetail-box,
.blingRechargeable-box{
	width: 96%;
	margin: 10% auto;
	height: 90%;
	border-radius:0.12rem;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	background: #fff;
	overflow: hidden;
}
header.orderDetail-header,
header.blingRechargeable-header{
	position: relative;
	top: 0;
	left: 0;
	height: 0.8rem;
	line-height: 0.8rem;
	width: 100%;
	text-align: center;
	font-size: 0.3rem;
	color: #666;
	border-bottom: 1px solid #e4e4e4;
	max-width: 768px;
	margin: 0 auto;
}
header.orderDetail-header a.close,
header.blingRechargeable-header a.close{
	position: absolute;
	right: 0;
	width: 0.6rem;
	height: 0.8rem;
	background: red;
	display: inline-block;
	background: url(../img/close.png) no-repeat center;
	background-size: 30%;
}
.orderDetail-content{
	background: #fff;
	padding: 4%;
	max-width: 768px;
	margin: 0 auto;
}
.orderDetail-content .orderDetail-content_tit{
	height: 1rem;
	width: auto;
	overflow: hidden;
	margin:0 0 0.2rem 0;
}
.orderDetail-content .orderDetail-content_tit img{
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
}
.orderDetail-content .orderDetail-content_tit span{
	text-indent: .2rem;
	display: inline-block;
	line-height: 1rem;
	font-size: 0.28rem;
}
.orderDetail-content .orderDetail-content_tit p.order_share{
	display: block;
	width: 0.5rem;
	height: 1rem;
	line-height: 1rem;
	float: right;
}
.orderDetail-content .orderDetail-content_tit p.order_share img{
	width: 0.3rem;
	height: 0.3rem;
	vertical-align: middle;
	border-radius: 0;
}
.orderDetail-content_infor{
	margin: 0.35rem 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.orderDetail-content_infor .orderDetail-ticketImg{
	width: 27%;
	height: 2rem;
}
.orderDetail-content_infor .orderDetail-ticketImg img{
	width: 100%;
	height: 80%;
}
.orderDetail-content_infor .orderDetail-introduce{
	width: 70%;
	height: auto;
}
.orderDetail-content_infor .orderDetail-introduce p{
	width: 96%;
	padding: 0 2%;
}
.orderDetail-content_infor .orderDetail-introduce p:nth-of-type(1){
	height: 0.5rem;
}
.orderDetail-content_infor .orderDetail-introduce p:nth-of-type(1) span:nth-of-type(1){
	font-size: 0.28rem;
	line-height: 0.3rem;
}
.orderDetail-content_infor .orderDetail-introduce p:nth-of-type(1) span:nth-of-type(2){
	font-size: 0.23rem;
	color: #446ba6;
	line-height: 0.3rem;
}
.orderDetail-content_infor .orderDetail-introduce p:nth-of-type(2){
	font-size: 0.25rem;
	line-height: 0.34rem;
}
.orderDetail-introduce-ticket_time{
	width: 100%;
	height: 1.5rem;
	overflow: hidden;
	padding-top: 0.2rem;
}
.orderDetail-introduce-ticket_time>.live_time{
	width: 27%;
}
.orderDetail-introduce-ticket_time>.live_time>p{
	text-align: center;
	font-size: 0.2rem;
	line-height: 0.45rem;
}
.orderDetail-introduce-ticket_time>.order_time{
	width: 70%;
}
.orderDetail-introduce-ticket_time>.order_time>p{
	text-align: right;
	font-size: 0.2rem;
	line-height: 0.5rem;
}
.orderDetail-introduce-ticket_time>.order_time>p.ticket-usestatus{
	color: #6d93f5;
}

.orderDetail-content>.buy_ticketBtn{
	color: #fff;
	background: #446ba6;
	box-shadow: none;
	display: block;
	border: none;
	width: 80%;
	outline: none;
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	border-radius: 0.5rem;
	text-shadow: none;
	margin: 0.8rem auto;
	font-size: 0.35rem;
	box-shadow: 0 0.03rem 0.05rem rgba(0,0,0,0.2);
}
/*商城订单详情      orderDetail.html//////////////////////*******************/
/**********************************主播盒子--///**********************************************/


/*************弹窗*************/
.anchorQuit_popup{
	position: absolute;
	z-index: 990;
	width: 100%;
	height: 100%;
	top: 0 !important;
	background: rgba(0,0,0,0.2);
	display: none;
}
.anchorQuit_popup>.popup-box{
	margin:3rem auto !important;
}
.errorMoney_point{
	position: fixed;
	z-index: 15;
	width: auto;
	height: auto;
	border-radius: 0.15rem;
	background: rgba(254, 75, 75, 0.82);
	left: 50%;
	top: 0;
	opacity: 0;
	margin-left: -1rem;
	padding: 0.1rem;
	color: #fff;
	text-align: center;
	font-size: 0.1rem;
	display: none;
}
.popup,.bigPopup{
	position: fixed;
	z-index: 990;
	width: 100%;
	max-width: 768px;
	height: 100%;
	top: 3.6rem;
	background: rgba(0,0,0,0.2);
	z-index: 999;
	display: none;
}
.popup{
	overflow: auto;
}
.popup .popup-box{
	height: auto;
	margin: 65px auto;
	border-radius: 0.15rem;
	padding-bottom: 0.25rem;
	overflow: hidden;
	background: #fff;
}
.popup .popup-box .popup-box-header{
	position: relative;
	height: 0.5rem;
	font-size: 0.28rem;
	line-height: 0.5rem;
	width: 100%;
	color: #333;
	border-bottom: 1px solid #F2F2F2;
	text-align: center;
}
.popup .popup-box .popup-box-header .popup-box-close{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	font-size: 0.3rem;
	color: #666;
	position: absolute;
	right: 3%;
}
.popup .popup-box .popup-box-fullheader{
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.28rem;
	color: rgba(254, 75, 75, 0.8);
}
.popup .popup-box .popup-box-fullheader .popup-box-close{
	position: absolute;
    right: 0;
    display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	line-height: 0.7rem;
	background: url(../img/close.png) no-repeat center;
	background-size: 40%;
}
/*主播和游客的基本信息弹窗*/
.popup .user_infor-box{
	width: 4.2rem;
}
.popup .popup-box .popup-box-userHeader{
	width:1.2rem;
	height:1.2rem;
	border-radius: 100%;
	margin: 0.15rem auto;
	background: #fff;
}
.popup .popup-box .popup-box-userHeader img{
	width:1.2rem;
	height:1.2rem;
	border-radius: 100%;
}
.popup-box-userInfor{
	width: 2.5rem;
	height: auto;
	line-height: 0.3rem;
	margin: 0 auto;
	font-size: 0.20rem;
	text-align: center;
}
.popup-box-userInfor span.popup-box-userInfor-name{
	font-size: 0.20rem;
    line-height: 0.32rem;
    text-align: center;
}

.popup-box-userInfor img.popup-box-userInfor-sexImg{
	width: 0.32rem;
	height: 0.32rem;
	margin: auto 0.05rem ;
	display: inline-block;
}

.popup-box-userInfor span.popup-box-userInfor-degree{
	font-size: 0.20rem;
    width: 0.6rem;
    line-height: 0.32rem;
    text-align: center;
    border-radius: 0.08rem;
    display: inline-block;
    background-color: #3aeb64;
    color: #fff;
}

.popup .popup-box ul.popup-box-list{
	width: 80%;
	height: 0.8rem;
	margin: 0.25rem auto;
	margin-bottom: 0.05rem;
}
.popup .popup-box ul.popup-box-list li{
	width: 33%;
	height: 0.8rem;
	position: relative;
	float: left;
}
.popup .popup-box ul.popup-box-list li:after{
	width:1px;
	height: 0.4rem;
	right: -0.05rem;
	top: 0.15rem;
	position: absolute;
	content: "";
	background: #a7a2a2;
	z-index: 1001;
}
.popup .popup-box ul.popup-box-list li:last-child:after{
	width: 0;
}
.popup .popup-box ul.popup-box-list li p{
	text-align: center;
	font-size: 0.22rem;
	line-height: 0.35rem;
}
.popup .popup-box .popup-box-flow_btn{
	width: 80%;
	height: 0.5rem;
	background-color: #446ba6;
	text-align: center;
	line-height: 0.5rem;
	color: #fff;
	margin: 0 auto;
	font-size: 0.28rem;
	border-radius: 0.1rem;
}
.my_infor .popup-box ul.popup-box-list{
	margin: 0.2rem auto 0 auto;
}

.popup-box-flow_focused{
	background-color: gainsboro !important;
}

/*主播和游客的基本信息---////*/




/*送礼物*/
.send_gift{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	z-index: 990;
	display: none;
}
.send_gift-box{
	position: absolute;
	height:30%;
	bottom: 0rem;
	width: 100%;
	padding-bottom: 4%;
	background: rgba(22, 21, 19, 0.65);
}
.send_gift-ul{
	margin: 0 auto;
	padding: 2%;
	height:76%;
}
.send_gift-ul li{
	float: left;
	display: inline-block;
	width: 25%;
	height: 50%;
	position: relative;
}
.send_gift-ul li.active{
	outline: 2px solid #446ba6;
}
.send_gift-ul li img{
	display:block;
	margin: 5% auto;
	margin-bottom: 0;
	max-width: 0.8rem;
}
/*调整收音机位置*/
.send_gift-ul-gift_recorder{
	top: -0.2rem;
	position: relative;
}
.send_gift .send_gift-remainderAndsend{
	overflow: hidden;
	height: auto;
	width: 96%;
	padding: 2%;
}
.send_gift .send_gift-remainderAndsend>.send_gift-remainder,
.send_gift .send_gift-remainderAndsend>.send_gift-remainder>i{
	color: #446ba6;
	font-size: 0.25rem;
	font-family: "宋体";
	font-weight: 600;
	height: 0.5rem;
	line-height: 0.5rem;
}
.send_gift .send_gift-remainderAndsend>.send_gift-send{
	color: #fff;
	background: #446ba6;
	font-size: 0.22rem;
	font-family: "宋体";
	font-weight: 600;
	height: 0.5rem;
	padding: 0 3%;
	border-radius: 0.12rem;
	line-height: 0.5rem;
	margin-right: 0.2rem;
	border: none;
	outline: none;
}
.send_gift .send_gift-ul .send_gift-ul-money{
	color: #446ba6;
    font-size: 0.2rem;
    text-align: center;
	display: none;
}

.send_gift .send_gift-ul .visible{
	display: block;
}
/*送礼物---////*/

/*抢红包*/
.grab_redpacket .popup-box{
	background: none;
	border:none;
	margin: 65px auto;
	background: #fff;
}
.grab_redpacket  .grab_redpacket-box{
	width:3.2rem;
	height: 4.2rem;
	background-color: #e24d3f;
	border-radius: 0.15rem;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;
	position: relative;
}
.grab_redpacket .grab_redpacket-box .popup-box-header{
	border: none;
}
.grab_redpacket .grab_redpacket-box .popup-box-header span{
	font-size: 0.25rem;
	color:#e47c7c;
	position: relative;
	z-index: 20;
}
.grab_redpacket .grab_redpacket-box::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 0.8rem;
	top: 0;
	left: 0;
	background-color: rgba(173, 5, 30, 0.53);
	border-radius: 0.5rem 0.5rem 2.5rem 2.5rem;
	box-shadow: 0px -2px 0px rgba(0,0,0,0.2) inset;
	z-index: 10;
}
.grab_redpacket  .grab_redpacket-box .grab_redpacket-box-userHeader{
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #e24d3f;
	border: 0.07rem solid #e24d3f;
	position: relative;
	z-index: 20;
	
}
.grab_redpacket  .grab_redpacket-box .grab_redpacket-box-userHeader img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.grab_redpacket-box-userName{
	margin: 0 auto;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.22rem;
	color: #ece0e0;
	width: 80%;
	text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.grab_redpacket-box-moneyPoint{
	margin: 0 auto;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.25rem;
	color: #f8ba61;
	width: 80%;
	text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.grab_redpacket-box-details{
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.22rem;
	color: #f8ba61;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	display: block;
	position: absolute;
	bottom: 0.25rem;
}
/*抢红包弹窗-----//////****/
/*红包列表详情*/
.redpacket_list{
	height: calc(100% - 3.6rem);
}
.redpacket_list-box{
	width: 100%;
	height: 100%;
	
	background: #F5F5F5;
	margin: 0 auto;
    position: relative;
    box-sizing: content-box;
}
header.redpacket_list-header{
	position: relative;
	top: 0;
	left: 0;
	height: 0.7rem;
	line-height: 0.7rem;
	width: 100%;
	text-align: center;
	border-bottom:none;
	max-width: 768px;
	margin: 0 auto;
	background-color: #e24d3f;
}
header.redpacket_list-header>p{
	text-align: center;
	margin: 0 auto;
	font-size: 0.27rem;
	color: #fff;
	line-height: 0.7rem;
	max-width: 4rem;
	overflow: hidden;
	text-overflow:ellipsis;     
	word-break:keep-all;
	white-space:nowrap;
}
header.redpacket_list-header a.close{
	position: absolute;
	right: 0;
	top: 0;
	width: 0.7rem;
	height: 0.7rem;
	display: inline-block;
	color: #FFF;
	background: url(../img/close1.png) no-repeat center;
	background-size: 40%;
}
.redpacket_list-sendUser{
	text-align: center;
}
.redpacket_list-sendUserheader-box{
	position: relative;
	/*height: 1.6rem;*/
	width: auto;
	margin: 0 auto;
	padding: 0;
	background: #fff;
}
.redpacket_list-sendUserheader-box p{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	line-height: 0.6rem;
}
p.redpacket_list-remain-p{
	line-height: 0.8rem;
	color: #b3b3b3;
	padding: 0 2%;
}
p.redpacket_list-remain-p>i{
	line-height: 0.8rem;
	color: #b3b3b3;
}
ul.redpacket_list-ul{
	height: calc(100% - 1.3rem);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 auto;
}
.redpacket_list-theLastli{
	width: 100%;
	position: absolute;
	height: 0.6rem;
	line-height: 0.6rem;
	background: #fff;
	text-align: center;
	font-size: 0.22rem;
	bottom:0;
	box-shadow: 0 0.02rem 0.15rem rgba(0,0,0,0.2),0 0.01rem 0.05rem rgba(0,0,0,0.1) inset;
}
.redpacket_list-theLastli>a{
	color:#d76d7a ;
	font-size: 0.20rem;
}
ul.redpacket_list-ul li{
	width: auto;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #F3F3F3;
	padding: 2% 4%;
	background-color: #FFF;
}
ul.redpacket_list-ul li .redpacket_listImg img{
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
}
ul.redpacket_list-ul li .redpacket_list_center_infor{
	height: 1rem;
	margin-left: 0.3rem;
}
ul.redpacket_list-ul li .redpacket_list_center_infor>p{
	height: 0.5rem;
	line-height: 0.5rem;
}
ul.redpacket_list-ul li .redpacket_list_center_infor>p:nth-of-type(1){
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: #333;
}
ul.redpacket_list-ul li .redpacket_list_center_infor>p:nth-of-type(2){
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.2rem;
	color: #a0a0a0;
}
ul.redpacket_list-ul li .redpacket_list-receive_money>p:nth-of-type(1){
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: #333;
}
ul.redpacket_list-ul li .redpacket_list-receive_money>p.luck_king{
	width: 1rem;
	padding: 0.01rem;
	/*height: 0.3rem;*/
	line-height: 0.28rem;
	background-color:#eec051 ;
	font-size: 0.2rem;
	border-radius: 0.12rem;
	text-align: center;
	color: #d85b53;
	margin: 0 auto;
}
/*红包列表详情-------/////*/
.popup-box-flow_focused{
	background-color: gainsboro !important;
}


/*发红包弹窗*/
.send_redpacket{
	background: transparent;
	height: calc(100% - 3.6rem);
	background: #fff;
}

.send_redpacket>.popup-box_send_redpacket{
	width: 100%;
	position: relative;
	height: 100%;
	overflow: auto;
	border-radius:0 ;
	margin: 0;
}
.send_redpacket>.popup-box{
	padding: 0;
	border: none;
}
.send_redpacket .send_redpacket-input{
	margin: 0.5rem auto 0 auto;
	padding: 0 0.2rem;
	overflow: hidden;
}

.send_redpacket .send_redpacket-input>span{
	text-align: center;
	width:1.2rem;
	display: inline-block;
	height: 0.5rem;
	font-size: 0.25rem;
	line-height: 0.5rem;
	vertical-align: middle;
}
.send_redpacket .send_redpacket-input>div{
	position: relative;
	width:70%;
	margin-left: 0.1rem;
	line-height: 0.5rem;
	vertical-align: middle;
}
.send_redpacket .send_redpacket-input>div>input{
	width:100%;
	height: 0.5rem;
	display: inline-block;
	line-height: 0.5rem;
	outline: none;
	background: #f5f5f5;
	border: none;
	text-indent: 0.15rem;
	border-radius: 0.05rem;
	
}
.send_redpacket .send_redpacket-input>div>i{
	width:auto;
	display: inline-block;
	/*height: 0.5rem;*/
	font-size: 0.25rem;
	line-height: 0.5rem;
	text-indent: 0.02rem;
	vertical-align: middle;
	position: absolute;
	right: 5px;
	top: 0;
	color: #ccc;
}
/*发红包弹窗---/////*/
/*打赏主播弹窗 4.5*/
.award_anchor{
	background: transparent;
	height:calc(100% - 3.6rem);
	background: #fff;
}
.award_anchor_ul{
	width: 100%;
	overflow: hidden;
}
.award_anchor_ul li{
	width: 33.333%;
	text-align: center;
	float: left;
}
.award_anchor_ul li>span{
	width: 80%;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	margin: 0.5rem auto 0.3rem auto;
	position: relative;
	border-radius: 5px;
	color: #A7A2A2;
	background: #F3F3F3;
}
.award_anchor_ul li>span.active{
	color: #fff;
	background: rgba(254, 75, 75, 0.72);
}
.award_anchor_ul li>span>input[name=award_anchor_ul-radio]{
	-webkit-appearance: none;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	outline: none;
}

.award_anchor>.popup-box_award_anchor{
	width: 100%;
	height: 90%;
	margin: 0;
	border-radius: 0;
	padding: 0;
	position: relative;
}

.award-input{
	margin: 0.5rem auto 0 auto;
	padding: 0 0.2rem;
	overflow: hidden;
}
.award_anchor .award-input>span{
	text-align: center;
	width:1.2rem;
	display: inline-block;
	font-size: 0.25rem;
	line-height: 0.5rem;
}

.award_anchor .award-input>div{
	position: relative;
    width: 70%;
    margin-left: 0.1rem;
    line-height: 0.5rem;
    vertical-align: middle;
}
.award_anchor .award-input>div>input{
	width: 100%;
    height: 0.5rem;
    display: inline-block;
    line-height: 0.5rem;
    outline: none;
    background: #f5f5f5;
    border: none;
    text-indent: 0.15rem;
    border-radius: 0.05rem;
}
.award_anchor .award-input>div>i{
	width: auto;
    display: inline-block;
    font-size: 0.25rem;
    line-height: 0.5rem;
    text-indent: 0.02rem;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
}
.award_anchor button.btn_awardMoney,.send_redpacket button.btn_send_redpacket{
	width: 80%;
	height: 0.6rem;
	text-align: center;
	line-height: 0.6rem;
	color: #fff;
	margin: 0.5rem auto 0 auto;
	font-size: 0.34rem;
	border-radius: 0.1rem;
	display: block;
	border: none;
	outline: none;
}
button.btn_disable{
	background-color: rgba(254, 75, 75, 0.72);
}
button.btn_able{
	background-color: #fe4b4b;
}
/*打赏主播弹窗---///*/

/*分享*/
.share_title{
	text-align: center;
	color: #446ba6;
	font-size: 0.38rem;
	height: 0.8rem;
	line-height: 0.8rem;
}
.popup-share{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	z-index: 990;
	display: none;
}

.share_alert{
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.share_prompt {
    position: relative;
    width: 90%;
    height: 230px;
    padding-top: 0;
    margin: 0 auto;
    background: url(../img/bg_sharetip.png) no-repeat center bottom;
    background-size: 100%;
}
.share_prompt p {
    position: absolute;
    bottom: 0.4rem;
    left: 0.6rem;
    font-size: 1rem;
    line-height: 0.8rem;
    color: #666;
    font-size: 0.3rem;
}
/*分享---///*/
.friendshipLink_popup{
	right: 0;
	top: 60px;
	position: absolute;
	z-index: 999;
	display: none;
}
.visible{
	display: block;
}
.friendshipLink_div{
	width: 5.5rem;
	max-height: 3rem;
	background: #fff;
	right: 5px;
	top: 60px;
	padding: 0.2rem;
	box-shadow: 0 0 20px #A0A0A0;
	border-radius: 0.1rem;
	overflow-y: auto;
}
.friendshipLink_popup::after{
	content: "";
	position: absolute;
	width: 0;
    height: 0;
    right: 6px;
    top: -16px;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;
    border-left: 16px solid transparent;
    z-index: 0;
}
.friendshipLink_box{
	width:33.33333%;
	margin-bottom: 0.2rem;
    float: left;
}
.friendshipLink_boxImg{
	height: 0.8rem;
	line-height: 0.8rem;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.friendshipLink_boxImg img{
	height: 100%;
	vertical-align: middle;
}
.friendshipLink_box p{
	text-align: center;
	font-size: 0.18rem;
	line-height: 0.2rem;
	padding: 0.1rem 0.02rem;
}
.friendshipLink_fullPop{
	position: absolute;
	z-index: 990;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: none;
}
/*表情*/
/*二维码弹窗*/
.erweima>.popup-box img{
	width: 3rem;
	height: 3rem;
	margin: 0.2rem auto;
	display: block;
}

.page_emotion{
    position: absolute;
    background: #fff;
}
.erweima-box{
	width: 4.2rem;
}
/*二维码弹窗----///*/
/*表情---///*/
/***********弹窗****************/
/*适配苹果4*/
@media screen and (min-width: 768px) {
	.companyLogo img{
		max-width: 120px;
		max-height:120px;
		display: block;
		margin: 0 auto;
	}
	.friendshipLink_popup{
		top: 84px;
	}
	.companyInforBox{
		height: 50px;
	}
	.companyInfor{
		height: 50px;
		line-height: 50px;
	}
	.wacthNumber{
		height: 50px;
		line-height: 50px;
	}
	.wacthNumber span{
		line-height: 50px;
		font-size: 0.2rem;
	}
	.wacthNumber span:nth-of-type(1){
		height: 50px;
	}
	.wacthNumber::before{
		height: 50px;
	}
    .tab-ulBox{
    	height: 120px;
    }
    div.tab-ul,.swiper-pagination-big {
    	height: 70px;
    }
    div.tab-ul li,.swiper-pagination-big>span.swiper-pagination-bullet{
    	height: 69px;
    	line-height: 69px;
    }
    .friendshipLink{
		height: 69px;
	}
}
@media screen and (max-width: 320px) {
    .send_gift .send_gift-ul .send_gift-ul-money{
       bottom: 0.05rem;
    }
     .now_redpacket{
       font-size: 0.145rem;
    }
    .chat-box .fixed_fun{
       top: 2%;
    }
    .send_gift-ul li img{
    	margin-bottom: -2px;
    }
    .chat-box ul.chat-list-ul li .words_box p:nth-of-type(1) span.wordsUser_name{
    	width: 1.5rem;
    }
}
#facebox{
	margin: 0 auto;
	width: 98%;
	height: 3rem;
	bottom: 0.9rem;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	overflow-y: auto;
	margin: 0;
	padding: 0.02rem;
	
}
#facebox tr td{
	padding: 0.06rem !important;
}
#facebox tr td img,.my_words-cont p img,.words_box p.words_infor img{
	width: 0.5rem;
	height: 0.5rem;
}
table{
	margin: 0 auto;
}
@media screen and (min-width: 768px){
	#facebox tr td{
		padding: 0.12rem !important;
	}
}
.play {
    display: block;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    position: absolute;
    z-index: 998;
   	background: none;
   	border: none;
   	outline: none;
    border-radius: 50%;
    box-sizing: border-box;
    display: none;
}
.play img{
	width: 1rem;
	height: 1rem;
}
/*余额不足  主播退出房间  提示需要购买门票*/
.smallPopup{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: none;
}
.needTicket_popup{
	top: 0;
}
.notEnough_popup .goRecharge>a{
	font-size: 0.26rem;
}{
	
}
.needTicket_popup>.popup-box{
	margin: 3rem auto;
}
.smallPopup>.popup-box{
	width: 4.6rem;
	height: auto;
	border-top: 1px solid #fff;
	border-radius: 0.15rem;
	background: #fff;
	padding-bottom: 0.25rem;
	overflow: hidden;
	text-align: center;
	padding-bottom: 0 !important;
}
.smallPopup>.popup-box .popup-box-header{
	font-size: 0.35rem !important;
	color: #666;
	height: auto !important;
	padding: 0.15rem 0;
}
.smallPopup .popup-box .popup-box-header{
	border-bottom:1px solid #446ba6 !important;
}
.smallPopup-infor>p:nth-of-type(1){
	padding: 0.5rem 0;
	text-align: center;
	font-size: 0.3rem;
}
.smallPopup-infor>p:nth-of-type(2){
	text-align: center;
	height: auto;
	overflow: hidden;
}
.smallPopup-infor>p:nth-of-type(2) span{
	width: 50%;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.26rem;
	color: #666;
	background: #fff;
	text-align: center;
}
.smallPopup-infor>p:nth-of-type(2) span.active{
	color: #fff;
	background: #446ba6;
}
.smallPopup-infor>p:nth-of-type(2) span.active a{
	color: #fff;
	background: #446ba6;
	font-size: 0.28rem;
}
.smallPopup-infor>p:nth-of-type(2) a.goBuy_btn{
	color: #fff;
	background: #446ba6;
	font-size: 0.3rem;
	line-height: 0.55rem;
	font-size: 0.35rem;
	width: 70%;
	margin:0 auto 0.2rem auto;
	border-radius: 0.5rem;
	display: inline-block;
	box-shadow: 0 0.03rem 0.05rem rgba(0,0,0,0.2);
}
/*余额不足  主播退出房间  提示需要购买门票---////*/
/*支付详情*/
.paymentDetails_popup{
	position: fixed;
    z-index: 990;
    width: 100%;
   	max-width: 768px;
    height: calc(100% - 3.6rem);
    display: none;
    z-index: 999;
    top: 3.6rem;
   background: #fff;
   display: none;
}
.paymentDetails{
	position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
    text-align: center;
    color: #fff;
    background-color: #ebeff4;
}
.paymentDetails p.title{
	height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    color: #446ba6;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
.paymentDetails p.title>.close-paymentDetails{
	line-height: 0.8rem;
	display: inline-block;
	position: absolute;
	right: 4%;
}
.paymentDetails p.title>span.close-paymentDetails{
	position: absolute;
    right: 0;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.7rem;
    background: url(../img/close.png) no-repeat center;
    background-size: 35%;
}

.paymentDetails>ul li{
	overflow: hidden;
	border-bottom: 1px solid #f2f2f2;
	padding: 0 2%;
	background: #fff;
}
.paymentDetails>ul li span.leftInfor{
	display: inline-block;
	line-height: 0.8rem;
	font-size: 0.27rem;
	color: #333;
}
.paymentDetails>ul li span.rightInfor,.paymentDetails>ul li span.rightInfor *{
	display: inline-block;
	line-height: 0.8rem;
	font-size: 0.27rem;
	color: #999;
}
.paymentDetails_popup .paymentDetails-buttom{
	background: #446ba6;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.paymentDetails_popup .paymentDetails-buttom button{
	color: #fff;
    background: #446ba6;
    box-shadow: none;
    display: block;
    border: none;
    width: 100%;
    outline: none;
    width: 100%;
    height: 100%;
    line-height: 0.8rem;
    text-align: center;
    text-shadow: none;
    font-size: 0.3rem;
}


li.chosePay-li{
	height: 0.8rem ;
	line-height:0.8rem ;
	margin-top: 20px;
}
li.chosePay-li .chosePay-box1{
	display: inline-block;
	width: 100%;
}
li.chosePay-li .chosePay-box1 span{
	display: inline-block;
	line-height: 0.8rem ;
	text-align: left;
}

li.chosePay-li .chosePay-box1 .chosePay-box-img{
	line-height: 0.8rem ;
}
li.chosePay-li .chosePay-box1 .chosePay-box-img img{
	height: 0.4rem;
	display: inline-block;
	vertical-align: middle;
}


.chosePay-box2{
	display: block;
	width: 100%;
	overflow: hidden;
}
li.chosePay-li .chosePay-box2 span{
	display: inline-block;
	line-height: 0.8rem ;
	text-align: left;
	color: #333;
}
li.chosePay-li .chosePay-box2 input.chosePay-box2-radio{
	position: absolute;
	opacity: 0;
}
li.chosePay-li .chosePay-box2 .chosePay-box-img,
li.chosePay-li .chosePay-box2 .go-way-box{
	line-height: 0.8rem ;
}
li.chosePay-li .chosePay-box2 .chosePay-box-img img{
	height: 0.4rem;
	display: inline-block;
	vertical-align: middle;
}
li.chosePay-li .chosePay-box2 .go-way-box img{
	height: 0.25rem;
	display: inline-block;
	vertical-align: middle;
}
.go-way-box img{
	margin-left: 10px;
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
}
/*支付详情---////****/
/*支付方式*/

.paymentDetails_popup .way-box .way-img{
	display: inline-block;
	height: 100%;
	line-height: 0.8rem;
}
.paymentDetails_popup .way-box{
	background: #fff;
}
.way-box>ul li{
	line-height: 0.8rem;
}
.way-box>ul li.title{
	color: #333;
	font-size: 0.28rem;
}
.way-box>ul li.title>.goback-paymentBox{
	line-height: 0.8rem;
	display: inline-block;
	position: absolute;
	left: 2%;
}
.way-box>ul li.title>.goback-paymentBox img{
	display: inline-block;
	width: 0.2rem;
	vertical-align: middle;
}
.way-box ul li label{
	display: block;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
}
.paymentDetails_popup .way-box label .leftInfor{
	display: inline-block;
	margin: 0 0.2rem;
	line-height: 0.8rem;
	color: #333;
	font-size: 0.27rem;
}
.paymentDetails_popup .way-box label .choiceImg{
	display: inline-block;
	line-height: 0.8rem;
}
.paymentDetails_popup .way-box label .choiceImg img{
	height: 0.4rem;
}
.paymentDetails_popup .way-box .choiceThisWay{
	height: 0.8rem;
	line-height: 0.8rem;
	width: 0.35rem;
}
.paymentDetails_popup .way-box .choiceThisWay>input{
	-webkit-appearance: none;
	border: none;
    box-shadow: none;
    width: 12px;
    height: 12px;
    background: url(../img/ellipse@2x.png) center no-repeat;
    background-size: 100%;
    outline: none;
}
.paymentDetails_popup .way-box .choiceThisWay>input:checked{
	background: url(../img/ellipse_@2x.png) center no-repeat;
    background-size: 100%;
    outline: none;
}


/*支付方式---////****/

.half-screen.show{
	-webkit-animation-name: half-bounceshow;
    animation-name: half-bounceshow;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes half-bounceshow {
	0% {
		opacity: 0;
		top: 6rem
	}
	to {
		opacity: 1;
		top: 3.6rem;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes half-bounceshow {
	0% {
		opacity: 0;
		top: 6rem
	}
	to {
		opacity: 1;
		top: 3.6rem;
		-webkit-transform: none;
		transform: none
	}
}
.vjs-control-bar{
	display: none;
	position: absolute !important;
}
.vjs-big-play-button{
	display: none !important;
}
.vjs-volume-menu-button{
	display: none !important;
}
.goDown{
	display: inline-block;
	width: 50px;
	height: 3rem;
	position: relative;
	opacity: 0.5;
	background: url(../img/down@1x.png) center no-repeat;
	background-size: 40%;
}
